
/* レイアウト
------------------------------------------------------------ */
html{
	scroll-behavior: smooth;
}

body{
	text-align:center;
	background: url(../img/bg_head.jpg) no-repeat top center;
	color: #333333;
	background-color:  #70201e;
	line-height: 180%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	
}

a{
	text-decoration: none;
}

.clear{
	clear:both;
}

#content{
	background: #fff;
}

#contents {
	width:900px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#header img {
	width: 330px;
	height: 70px;
	margin: 15px 0 0 50px;
}


#footer{
	text-align: center;
	padding:20px;
	background: #ececec;
}


/* ナビゲーション
------------------------------------------------------------ */
.main-navi{
  width:900px;
  margin:0 auto;
}
.main-navi:after {
  content: "";
  clear: both;
  display: block;
}
.main-navi li{
  float:left;
  width:150px; 
}
.main-navi a{
  display:block;
  line-height:50px;
  height:50px;
  text-align:center;
  background:#000;
  color:#fff;
  transition: all  0.3s ease;
  font-size: 15px;
  font-weight: bold;
}

.main-navi a:hover{
	background:#fff;
	color:#000;
}


/* スライドショー
------------------------------------------------------------ */
#css-slider {
	width: 900px;
	height: 500px;
	overflow: hidden;
}
 
.slide-item {
	width: 900px;
	height: 500px;
	float: left;
	position: relative;
}
 
 
.slider-wrapper {
	width: 400%;
	position: relative;
	left: 0;
	will-change: transform;
	animation: slider 10s infinite;
}
 
@keyframes slider {
  0% { transform: translateX(0); }
  25% { transform: translateX(-900px); }
  50% { transform: translateX(-1800px); }
  75% { transform: translateX(-2700px); }
  100% { transform: translateX(0); }
}

#none-slider {
	width: 900px;
	height: 500px;
	overflow: hidden;
}
 
/* アコーディオン
------------------------------------------------------------ */

.according label {
    color: #000;
    padding: 0;
    display: block;
    margin: 5px 0;
    transition: all  0.05s ease;
}

.according label:hover {
    color: blue;
}

input[type="checkbox"].on-off{
    display: none;
}

.according div {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0 10px;
    background: #f1f1f1;
    border-radius: 5px;
    list-style: none;
    
}

.according ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0 10px;
    background: #f1f1f1;
    border-radius: 5px;
    list-style: none;
    
}

.according a{
	color: #000;
	transition: all  0.05s ease;
}

.according a:hover{
	color: blue;
}

input[type="checkbox"].on-off + div{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + div{
    height: 470px;
    overflow: auto; 
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 170px;
    overflow: auto;
}

/* ホーム
------------------------------------------------------------ */

#news{
	float: left;
}

#news h1 {
  font-size: 20px;
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border-bottom: 1px solid #ccc;
}
#news h1::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #40487b;
  border-radius: 4px;
}

#event{
	margin-left: 500px;
}

#event h1 {
  font-size: 20px;
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#event h1::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #40487b;
  border-radius: 4px;
}

.cookie1{
	width: 500px;
	height: 150px;
	overflow: auto;
	background: #ececec;
}

.cookie1 p{
	margin: 10px;
}

.cookie2{
	width: 400px;
	height: 150px;
	overflow: auto;
	background: #ececec;
	border-left: 1px solid #ccc;
}

.cookie2 p{
	margin: 10px;
}

#link h1 {
  font-size: 20px;
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#link h1::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #40487b;
  border-radius: 4px;
}

.linkbox{
	margin:10px;
	line-height: 1.5;
}

.linkbox a{
	color: #000;
	transition: all  0.05s ease;
}

.linkbox a:hover{
	color: blue;
}

.midashi{
	font-size: 20px;
	font-weight: bold;
}

.medachi{
	background: linear-gradient(transparent 60%, #ffff66 60%);
}

.medatan{
	font-size: 80%;
}

.hutoshi{
	font-weight: bold;
}

#timer h1 {
  font-size: 20px;
  position: relative;
  padding: .75em 1em .75em 1.5em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#timer h1::after {
  position: absolute;
  top: .5em;
  left: .5em;
  content: '';
  width: 6px;
  height: -webkit-calc(100% - 1em);
  height: calc(100% - 1em);
  background-color: #40487b;
  border-radius: 4px;
}

/* 幹部紹介
------------------------------------------------------------ */

.memberbox{
	border-top: solid 1px #ccc;
	 
}

.face{
	float: left;
	margin: 20px;
}

.face img{
	height: 300px;
}

.info{
	margin: 20px 0;
}

.info p{
	text-decoration: underline;
}

/* 試合結果
------------------------------------------------------------ */

.no1{
	font-size: 20px;
	font-weight: bold;
	color: #daa520;
}

.no2{
	font-size: 18px;
	font-weight: bold;
	color: #a9a9a9;
}

.no3{
	font-size: 16px;
	font-weight: bold;
	color: #a0522d;
}

.mencolor{
	color: blue;
}

.womencolor{
	color: red;
}

/* 練習日時・場所
------------------------------------------------------------ */

.prabox1{
	width: 600px;
	float: left;
}

.prabox2 img{
	margin-top: 5px;
	border: solid 1px #ccc;
}

/* 写真館
------------------------------------------------------------ */

.sentencebox{
	padding: 20px;
	text-align: center;
}

.photobox{
	margin: 10px;
	text-align: center;
}

.photobox img{
	width:50%;
}
